In [1]:
# İlayda Bağdatlı / 2. Hafta Ödev Cevapları 
# ilaydabagdatli@gmail.com

In [2]:
# 1. SORU

In [3]:
M = [[11,12,13,14],
     [21,22,23,24],
     [31,32,33,34]]

In [4]:
M

[[11, 12, 13, 14], [21, 22, 23, 24], [31, 32, 33, 34]]

In [5]:
for i in range(len(M)):
    print(M[i])

[11, 12, 13, 14]
[21, 22, 23, 24]
[31, 32, 33, 34]

In [6]:
for i in range(len(M)):
    M[i][0], M[i][1] = M[i][1], M[i][0]
    print(M[i])

[12, 11, 13, 14]
[22, 21, 23, 24]
[32, 31, 33, 34]

In [7]:
# 1. Soru Son

In [8]:
# 2. SORU

In [9]:
M = [[0, 3, 2, 4], [2, 7, 5, 9], [6, 1, 2, 3]]

In [10]:
M

[[0, 3, 2, 4], [2, 7, 5, 9], [6, 1, 2, 3]]

In [11]:
maxv = float('-inf')
coordinate = [0,0]

for i in range(len(M)):
    for j in range(len(M[i])):
        if M[i][j] > maxv:
            maxv = M[i][j]
            coordinate = [i,j]
print(tuple(coordinate))

(1, 3)

In [12]:
# 2. Soru Son

In [13]:
# 3. SORU

In [14]:
list_1 = [5, 3, 3, 10, 40]

list_2 = [40, 3, 40, 1, 2]

In [15]:
list_1

[5, 3, 3, 10, 40]

In [16]:
list_2

[40, 3, 40, 1, 2]

In [17]:
list_1.extend(list_2)

In [18]:
list_1

[5, 3, 3, 10, 40, 40, 3, 40, 1, 2]

In [19]:
len(set(list_1))

6

In [20]:
# 3. Soru Son

In [21]:
# 4. SORU

In [22]:
students = {"Jane":{"grade":90,"student_number":4012}, 
          "Pat":{"grade":81,"student_number":4052},
          "Denis":{"grade":70,"student_number":4089},
          "Max":{"grade":72,"student_number":4322},
          "Lara":{"grade":74,"student_number":4042}}

In [24]:
total = 0
for person in students:
    total = total + students[person]['grade']
    mean = total / len(students)
for person in students:  
    if (students[person]['grade'] > mean):
        print("grades is " + str(students[person]['grade']), "and above the mean")
    elif (students[person]['grade'] < mean):
        print("grades is " + str(students[person]['grade']), "and below the mean")
    else:
        print("grades is " + str(students[person]['grade']), "and equal to the mean")
print("mean is " + str(mean))

grades is 90 and above the mean
grades is 81 and above the mean
grades is 70 and below the mean
grades is 72 and below the mean
grades is 74 and below the mean
mean is 77.4

In [25]:
# 4. Soru Son

In [26]:
# 5. SORU

In [ ]:
totalticket = 200
remainingticket = totalticket

while (remainingticket > 0):
    ticket = int(input("How many do you want to buy?\nMinimum 1, maximum 4\n"))
    if ticket > 4:
        print("you can not buy more than 4 tickets")
        continue
    remainingticket -= ticket
    print(ticket)
    print(remainingticket)

In [ ]:
# 5. Soru Son